@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.app {
  min-height: 100vh;
  background-image: url('./img/cannadb_wallpaper.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

h1 {
  text-align: center;
  font-family: 'Satisfy';
  color: #fff;
  font-size: 115px;
  margin: 0;
  padding: 50px;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  margin: 0 auto;
}

.tile {
  background-color: #702963e7;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  transition: all ease-in-out .2s;
}

.tile:hover {
  background-color: #446b37fa;
  cursor: pointer;
}

.card {
  margin: 20px;
  box-shadow: #00000029 0 3px 6px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 420px;
  cursor: pointer;
  transition: all ease-in-out .2s;
  z-index: 98;
}

.card:hover {
  transform: scale(1.1);
  z-index: 99;
}

.card-img-wrapper {
  width: 100%;
  height: 250px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.card-title h2 {
  font-size: 24px;
  color: #702963;
  font-weight: bold;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 5px 0 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .app {
    margin: 50px 40px;
  }
  .strains {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    margin: 20px 10px;
  }
}

@media screen and (max-width: 767px) {
  .app {
    margin: 50px 20px;
  }
  .strains {
    grid-template-columns: 1fr;
  }
  .card {
    margin: 20px 0;
  }
}