.header {
    background-color: #702963;
}

nav {
    display: inline-block;
    width: 100%;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 20px 0;
}

li {
    list-style-type: none;
}

a {
    color: #fff;
}

.logo {
font-family: 'Satisfy';
font-size: 24px;
font-weight: bold;
}